/*
** Overlay Mixin
** Overlay Main Properties
*/
/*
** Prefixes Mixin
** Auto Add Prefixes To Properties
*/
/*
** Animation Mixin
** Auto Add Prefixes To Animation
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.owl-carousel {
  direction: ltr !important; }

/* ====================== */
/* ======= Header ======= */
/* ====================== */
.header {
  border-bottom: 1px solid #E3E7F3; }
.header .navbar-light .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #2c3458c7; }
.header .navbar-light .navbar-nav .nav-link:hover {
  color: #2C3458; }
@media (max-width: 576px) {
  .header .navbar-light .navbar-nav .nav-link {
    text-align: right; } }
@media (max-width: 767px) {
  .header .navbar-light .navbar-nav .nav-link {
    text-align: right; } }
@media (min-width: 768px) {
  .header .navbar-light .navbar-nav .nav-link {
    text-align: right; } }
.header .navbar-light .navbar-nav .active {
  color: #2C3458; }
.header .navbar-light .navbar-nav .partici .nav-link {
  border: 1px solid #7F75EF;
  border-radius: 25px;
  padding: 10px 20px;
  color: #7F75EF; }
@media (max-width: 576px) {
  .header .navbar-light .navbar-nav .partici .nav-link {
    border: none; } }
@media (max-width: 767px) {
  .header .navbar-light .navbar-nav .partici .nav-link {
    border: none; } }
@media (min-width: 768px) {
  .header .navbar-light .navbar-nav .partici .nav-link {
    border: none; } }
@media (min-width: 992px) {
  .header .navbar-light .navbar-nav .partici .nav-link {
    border: 1px solid #7F75EF; } }
.header .solutions {
  margin-top: 100px; }
.header .solutions p {
  color: #2C3458;
  font-size: 18px; }
.header .solutions h2 {
  line-height: 1.7;
  color: #6455C2; }
.header .search {
  width: 73.5%;
  margin: 50px auto; }
@media (max-width: 767px) {
  .header .search {
    width: 100%; } }
.header .search .form-control {
  padding: 35px 40px;
  font-size: 16px; }
@media (max-width: 767px) {
  .header .search .form-control {
    padding: 35px 10px; } }
@media (max-width: 767px) {
  .header .navbar-collapse {
    background: #fcfcfc;
    box-shadow: 0px 6px 10px 0px #f4f4f8; } }

.btn-serch {
  position: relative;
  bottom: 55px;
  left: 40px;
  background-color: #6AEEB8;
  border: 1px solid #6AEEB8;
  border-radius: 30px;
  line-height: 2.2;
  width: 120px;
  color: #fff; }
@media (max-width: 767px) {
  .btn-serch {
    left: 10px; } }
.btn-serch i {
  position: relative;
  left: 10px;
  top: 2px; }
.btn-serch:hover {
  background-color: #4be8a8;
  border: 1px solid #4be8a8; }

.btn-login {
  background: #775bc4;
  background: linear-gradient(129deg, #775bc4 0%, #ca7cce 86%, #d380cf 98%);
  border: none;
  border-radius: 5px;
  width: 182px;
  padding: 10px 0;
  margin: 20px 0;
  color: #fff; }
@media (max-width: 767px) {
  .btn-login {
    margin: 0px 0 20px; } }

.border-top {
  background: #f7b3be;
  background: linear-gradient(90deg, #f7b3be 0%, #e37aca 8%, #8f8ae1 24%, #9c99cf 53%, #5df0b3 71%, #72b3e9 100%);
  height: 5px; }

body {
  margin: 0;
  font-family: 'HelveticaNeueW23forSKY-Reg';
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  letter-spacing: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'HelveticaNeueW23foSKY-Bd'; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 24px;
  color: #6455C2; }

h4 {
  font-size: 22px;
  color: #6455C2; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

p {
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2C3458; }

ol, ul, dl {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 1rem; }

a, a:hover {
  text-decoration: none; }

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }

.questions {
  padding: 40px 0; }
.questions nav .breadcrumb {
  background: none; }
.questions .section-question {
  border: 1px solid #E3E7F3;
  border-radius: 5px; }
.questions .section-question .section-files .book {
  border-bottom: 1px solid #E3E7F3;
  padding: 30px;
  position: relative;
  text-align: right; }
.questions .section-question .section-files .book .img-book, .questions .section-question .section-files .book .name-book, .questions .section-question .section-files .book i {
  display: inline-block; }
.questions .section-question .section-files .book .img-book img {
  width: 77px;
  height: 100px; }
.questions .section-question .section-files .book .name-book {
  margin-right: 30px;
  margin-left: 30px;
  position: absolute;
  top: 30%; }
@media (max-width: 767px) {
  .questions .section-question .section-files .book .name-book {
    top: 18%; } }
.questions .section-question .section-files .book .name-book h5 {
  font-size: 20px;
  color: #2C3458;
  margin-bottom: 15px; }
@media (max-width: 767px) {
  .questions .section-question .section-files .book .name-book h5 {
    margin-bottom: 0px; } }
.questions .section-question .section-files .book .name-book p {
  color: #9B9FB0;
  font-size: 14px; }
.questions .section-question .section-files .book .btn-login {
  position: absolute;
  left: 30px; }
@media (max-width: 767px) {
  .questions .section-question .section-files .book .btn-login {
    position: relative;
    width: auto;
    padding: 10px 15px;
    top: 23px;
    right: 27px; } }
.questions .section-question .section-files .book .btn-login a {
  color: #fff; }
.questions .section-question .section-files .title-class {
  text-align: right;
  border-bottom: 1px solid #E3E7F3;
  padding: 30px; }
.questions .section-question .section-files .title-class .select-lesson {
  display: inline-block;
  position: relative;
  top: 10px; }
.questions .section-question .section-files .title-class .select-lesson h5 {
  display: inline-block;
  margin-left: 5px; }
.questions .section-question .section-files .title-class .select-lesson .form-control-lesson {
  display: inline-block;
  width: auto; }
.questions .section-question .section-files .title-class .search {
  display: inline-block;
  float: left; }
.questions .section-question .section-files .title-class .search p {
  display: inline-block;
  color: #0B1564; }
.questions .section-question .section-files .title-class .search p span {
  background-color: #F6F6FA;
  border-radius: 10px;
  padding: 10px;
  color: #2C3458; }
.questions .section-question .section-files .title-class .search .btnserch i {
  background: #51D4B2;
  padding: 10px 10px 11px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  top: 1px; }
.questions .section-question .section-files .all-lesons {
  text-align: right; }
.questions .section-question .section-files .all-lesons .Views {
  border-bottom: 1px solid #E3E7F3;
  padding: 30px; }
.questions .section-question .section-files .all-lesons .Views ul li a {
  display: flex;
  color: #0b1564bf;
  font-size: 16px;
  font-weight: bold; }
.questions .section-question .section-files .all-lesons .Views ul li a .number {
  margin-left: 10px; }
.questions .section-question .section-files .all-lesons .Views ul li a:hover {
  color: #0B1564; }
.questions .section-question .section-files .all-lesons .Views .comm {
  display: inline-block;
  margin-right: 30px;
  color: #9B9FB0;
  font-size: 12px;
  margin-bottom: 0; }
.questions .section-question .section-files .all-lesons .Views .comm i {
  margin-left: 10px; }
.questions .section-question .section-files .all-lesons .Views:hover {
  background-color: #FDFDFE;
  border-right: 3px solid #775bc4;
  border-right: 3px solid linear-gradient(354deg, #775bc4 0%, #d380cf 64%); }
.questions .section-question .section-files .paginat {
  padding: 30px; }
.questions .section-question .section-files .paginat ul {
  margin-bottom: 0; }
.questions .section-question .section-files .paginat ul li {
  display: inline-block; }
.questions .section-question .section-files .paginat ul .prev {
  border: 1px solid #E3E7F3;
  border-radius: 5px;
  padding: 5px 20px; }
.questions .section-question .section-files .paginat ul .prev a {
  color: #9B9FB0; }
.questions .section-question .section-files .paginat ul .prev a .fa-angle-right {
  margin-left: 20px;
  position: relative;
  top: 3px; }
.questions .section-question .section-files .paginat ul .prev a .fa-angle-left {
  margin-right: 20px;
  position: relative;
  top: 3px; }
.questions .section-question .section-files .paginat ul .number {
  background-color: #F6F6FA;
  border: 1px solid #F6F6FA;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0 10px; }
.questions .section-question .section-files .paginat ul .number a {
  color: #2C3458; }
.questions .back-lessons {
  width: 100%;
  margin-top: 30px; }

@media (max-width: 767px) {
  .img-add img {
    width: 100%; } }

/* ====================== */
/* ======= Footer ======= */
/* ====================== */
.footer {
  padding: 80px 0;
  background: #eeeeee;
  background: linear-gradient(180deg, rgba(238, 238, 238, 0.18) 0%, white 100%);
  text-align: right; }
@media (max-width: 767px) {
  .footer {
    padding: 30px 0; } }
.footer .about-footer img {
  margin-bottom: 15px; }
.footer .about-footer p {
  line-height: 1.8;
  color: #2C3458; }
.footer .list-q {
  column-count: 2;
  margin-top: 60px; }
.footer .list-q li {
  margin-bottom: 8px; }
.footer .list-q li a {
  color: #2C3458; }
.footer .social {
  margin-top: 60px; }
.footer .social .social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }
.footer .social .social-network li {
  display: inline-block;
  margin: 0 0 0 10px; }
.footer .social .social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 30px 1px #efeff5; }
.footer .social .social-circle li a:hover {
  color: #fff;
  background-color: #5E4FBF; }
.footer .social .social-circle li a:hover i {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff; }
.footer .social .social-circle li a:hover a.icoFacebook:hover i, .footer .social .social-circle li a:hover a.icoTwitter:hover i, .footer .social .social-circle li a:hover a.icoGoogle:hover i, .footer .social .social-circle li a:hover a.icoYoutube:hover i {
  color: #5E4FBF; }
.footer .social .social-circle li a i {
  margin: 0;
  line-height: 42px;
  text-align: center;
  color: #5E4FBF; }

